body {
  margin: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.column {
  border: solid 1px gray;
  border-radius: 5px;
  box-shadow: 5px 10px #888888;
  flex-grow: 1;
  margin: 25px;
  position: relative;
}

.columnTitle {
  font-size: 28px;
  font-weight: 900;
}

.cards {
  padding-bottom: 50px;
}

.card {
  display: flex;
  background-color: lightgray;
  margin: 25px;
}

.card span {
  flex-grow: 1;
  border-radius: 5px;
}

.card button {
  border-radius: 5px;
  font-weight: bolder;
  background-color: yellow;
}

.card span button {
  border-radius: 5px;
  font-weight: bolder;
  background-color: red;
}

div.add-card {
  position: absolute;
  bottom: 0px;
  margin-left: 25px;
}

div.add-card input {
  margin-right: 5px;
  border-radius: 5px;
  box-shadow: 2px 3px royalblue;
}

div.add-card button {
  border-radius: 5px;
  font-weight: bolder;
  background-color: green;
}

.title {
  border: solid 1px gray;
  margin: 25px;
  position: relative;
}

.section-title {
  font-size: 20px !important;
  font-weight: bold;
}

.section-body {
  border: solid 1px gray !important;
  border-radius: 5px;
  box-shadow: 5px 10px #888888;
  margin-left: 5px;
  margin-bottom: 25px;
}

.flight-times {
  width: 30em;
}

.algorithm-result {
  background-color: lightgray;
  font-weight: bold
}

.rates-table td, .rates-table th {
  border: 1px solid coral;
}

.section-body .fancyborder-blue {
  border: 2px solid cornflowerblue;
}

.section-body .fancyborder-green {
  border: 5px solid mediumseagreen;
}

.section-body button {
  border: 3px;
  border-radius: 5px;
  box-shadow: 2px 3px royalblue;
  color: midnightblue;
  margin: 10px;
}

.section-body input {
  border: 3px;
  border-radius: 5px;
  box-shadow: 2px 3px royalblue;
  color: midnightblue;
  margin: 10px;
}

.links {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100px;
}

.links a {
  color: midnightblue;
}

.links a:visited {
  color: gray;
}
